APP_PORT=3000
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5437
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app

REDIS_HOST=localhost
REDIS_PORT=6379

SALT_OR_ROUNDS=10

DATABASE_URL="postgresql://app:app@localhost:5437/app?schema=public"

JWT_ACCESS_SECRET='Csw4xbldKlYuPuQ0aqfc'
JWT_REFRESH_SECRET='vNSFd1bScoXyo0gepLjC'