APP_PORT=3000
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app

REDIS_HOST=localhost
REDIS_PORT=6379

DATABASE_URL="postgresql://app:app@localhost:5432/app?schema=public"
