USER_SERVICE_PORT=3000
NOTIFICATION_SERVICE_PORT=3001
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5437
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app

REDIS_HOST=localhost
REDIS_PORT=6379

SALT_OR_ROUNDS=10

DATABASE_URL="postgresql://app:app@localhost:5437/app?schema=public"
REDIS_URL=redis://default:redis@localhost:6379

JWT_ACCESS_SECRET='Csw4xbldKlYuPuQ0aqfc'
JWT_REFRESH_SECRET='vNSFd1bScoXyo0gepLjC'

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MINIO_STORAGE_URL=http://127.0.0.1:9000/

KAFKA_BROKER_URL=localhost:9092

MONGODB_URL=mongodb+srv://Cluster85558:EqjxA2vkOtw93gD2@cluster85558.gdvopxp.mongodb.net/